{% extends 'interface.html.twig' %}

{% block stylesheet %}
    {% for hero in heroes %}
        {% if path[3] == hero.id %}
        <link rel="stylesheet" href="/assets/css/{{ hero.name }}-interface.css">
        {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/enigma.css">
{% endblock %}

{% block title %}Story{% endblock title %}

{% block main %}
    <div id="enigma">
        <div class="element"><p>{{ enigme.story }}</p></div>
        <div class="element2">
            <p class="clue">
                Indice
                <br>A -> Z
                <br>Z <- A
            </p>
            <br>
            <p class="code">Code secret :</p>
            <br>
            <p class="code2">ERVMH NV ELRI</p>
            <br>
        <form action="<?= htmlspecialchars();?>" method= "POST">
            <label  for="answer"></label>
            <textarea  id="answer"  placeholder="Réponse"></textarea>
            <?= $errors["errorAnswer"] ?>
            <?= $good["goodAnswer"] ?>
            <br>
            <a href="../../../quest/story/1/1"><input type="button" value="Valider" onclick="compteARebours();"></a>
        </form>
        </div>
    </div>
<script src="/assets/JS/bagScript.js"></script>

{% endblock %}