{% extends 'layout.html.twig' %}
h1>Ma page articles</h1>
{% for character in characters %}
    <article>
        <h2>{{character.heroes}}</h2>
        <figure>
        </figure>
    </article>
{% endfor %}
{% endblock %}
