{% extends 'layout.html.twig' %}
 {% block stylesheet %}
     <link rel="stylesheet" href="/assets/css/combat.css">
 {% endblock %}


{% block content %}

    {% block combat %}
        <div class="combat">
            <h5>Un loup vous attaque !</h5>  <!-- TODO:render the creature  name dynamic -->
            <div class="combatInterface">

                <!-- The creature block -->
                <div class="creatureBlock">

                    <!-- state text during combat -->
                    <div class="creatureText">
                        <div class="combatText">
                            <p>Le loup vous inflige 20 points de dégats</p>
                        </div>
                    </div>
                    <!-- image and lifebar -->
                    <div class="creatureState">
                        <img src="assets/images/loup.png" alt="creatureSprite" class="creatureSprite" />
                        <progress id="healthCreature" value="40" max="100"></progress>
                    </div>

                </div>

                <!-- The user block -->
                <div class="userBlock">

                    <!-- image and lifebar + interaction buttons -->
                    <div class="userState">
                        <div class="avatar">
                            <img src="assets/images/guerrier.gif" alt="userAvatar" class="avatar">
                        </div>

                        <div class="avatarMobile">
                            <img src="assets/images/guerrier.gif" alt="userAvatar" class="avatarMobile">
                        </div>

                        <div class="actions">

                            <div class="actionBtn">
                                <button id="weaponsDisplayer">Weapons</button>
                                <button id="itemsDisplayer">Items</button>

                                <!-- combatScript starts -->
                                <div id="displayedWeapons">
                                    <button>Axe</button>
                                    <button>Sword</button>
                                </div>

                                <div id="displayedItems">
                                    <button>Potion</button>
                                    <button>Key</button>
                                </div>
                            </div>


                            <progress id="healthUser" value="70" max="100"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock%}

{% endblock content %}

{% block javascript %}<script src="assets/JS/combatScript.js"></script>{% endblock %}
