#enigme{
    margin: 220px;
    padding: 20px;
    height: 100%;
    width: 50%;
    border: none;
    color:white;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    font-family: 'Revalia', cursive;
}

.element{
    margin: 50px;
    font-size: 18px;
    text-align: center;
}

.element2{
    margin: 50px;
    font-size: 16px;
    align-self: center;
}

.clue{
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    border-radius: 20px;
    text-align: center;
}
.code{
    text-align: center;
}
.code2{
    text-align: center;
}
.answer{
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    border-radius: 20px;
    text-align: center;
}
.element2 button{
    color:white;
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    display: flex;
    align-items: flex-end;
}