*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../images/tavern.jpeg");

}

main{
    justify-content: space-around;
}

#enigma{
    margin: 0 auto;
    width: 90%;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    font-family: 'Revalia', cursive;
}

.element{
    margin: 50px;
    font-size: 28px;
    text-align: center;
}

.element2{
    margin: 50px;
    font-size: 18px;
    text-align: center;
}

.clue{
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 15px 15px 15px 15px;
}

#answer{
    color: white;
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 15px 15px 15px 15px;
}

input{
    color: white;
    border: none;
    background-color:rgba(129, 126, 126, 0.5);
    padding: 15px 35px 15px 35px;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    margin: 20px;
}

@media screen and (max-width: 1000px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-position: center;
    }

    #enigma{
        display: flex;
        flex-direction: column;
    }

    <!--
    {
        backdrop-filter: blur(10px);
        width: 51px;
        height: 51px;
        left: 137px;
        top: 48px;
    }
    -->
}

@media screen and (min-width: 1000px){
    .avatarMobile{
        display: none;
    }
}