{% extends "layout.html.twig" %}

{% block content %}

    <section>
        <h1>Game Over</h1>
        <article>
            <p>
                Vous avez préféré mettre votre curiosité de côté, tant pis pour vous.
                <br>
                Vous vous rendormez pour ne plus jamais vous réveiller,
                <br>en d’autres termes, vous êtes mort.
            </p>

            <button>
                Restart
            </button>
        </article>
    </section>

{% endblock %}
