{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/deadcharacter.css">
{% endblock %}

{% block main %}
    <h2>GAME OVER</h2>
    <div id="history">

        <p> </p>
    </div>
    <div id="responses">
        <button class="response"><a href="/" style="text-decoration: none; color: white"><p>Restart</p></a></button>
    </div>

    <!--<button class="restartGame">Restart</button>-->

    <script src="../assets/JS/bagScript.js"></script>
{% endblock %}