{% extends 'interface.html.twig' %}
 {% block stylesheet %}
     <link rel="stylesheet" href="/assets/css/interface.css">
     <link rel="stylesheet" href="/assets/css/story.css">
 {% endblock %}
{% block title %}Story{% endblock title %}
{% block main %}

    <div id="history">


        <p>{{story.story}}</p>

    </div>

    <div id="responses">
        <button class="response"><a href="/combat/fight/$id" style="text-decoration: none; color: white"><p>Réponse 1</p></a></button>

        <button class="response"><a href="/enigma/enigma1/$id" style="text-decoration: none; color: white"><p>Réponse 2</p></a></button>

        <button class="response"><p>Réponse 3</p></button>
    </div>

    <!---  bagScript --->
    <div id="bagScript">
        <p>Bag</p>
        <ul>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
        </ul>
    </div>

    <!--<button class="restartGame">Restart</button>-->


    <script src="../assets/JS/bagScript.js"></script>
{% endblock %}