{% extends 'interface.html.twig' %}
 {% block stylesheet %}
     {% for hero in heroes %}
     {% if path[3] == hero.id %}
     <link rel="stylesheet" href="/assets/css/{{ hero.name  }}-interface.css">
         {% endif %}
     {% endfor %}
     <link rel="stylesheet" href="/assets/css/story.css">
 {% endblock %}
{% block title %}Story{% endblock title %}
{% block main %}

    <div id="history">

        <p>{{story.story}}</p>

    </div>

    <div id="responses">
        {% for choice in choices %}
            <a class="response" href="/combat/fight/$id" style="text-decoration: none; color: white">{{ choice.choice }}</a>
        {% endfor %}
    </div>


    <!---  bagScript --->
    <div id="bagScript">
        <p>Bag</p>
        <ul>
            {% for hero in heroes %}
                {% if path[3] == hero.id %}
                    {% if weapons is empty %}
                    {% else %}
                        {% for weapon in weapons %}
                            <li>
                                  <button >{{weapon.name}}</button>
                            </li>
                        {% endfor %}
                    {% endif %}

                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <script src="/assets/JS/bagScript.js"></script>
{% endblock %}
